
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es">
<head>
<title>
overclocktech
</title>
<!--METADATA-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="">
<meta name="reply-to" content="alexanderbrache@gmail.com">
<meta name="author" content="http://www.overclocktech.net">
<meta name="author" content="Alexander Brache">  
<meta name="description" content="overclocktech,computer,hack,electronics,programing,games,css,php,c#,html,javascript,python,ruby">
<meta name="keywords" content="overclocktech,computer,hack,electronics,programing,games,css,php,c#,html,javascript,python,ruby">
<link rel="stylesheet" href="/css/pojoaque.css">

<!--LINK-->

<LINK REL="SHORTCUT ICON" HREF="imagenes/youtube.png">
<link href="libreria/rss.php" rel="alternate" type="application/rss+xml" title="RSS www.overclock.net" />
<link rel="stylesheet" type="text/css" href="/css/estilos.css"/>
<link rel="stylesheet" type="text/css" href="/libreria/engine1/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.css"/>
<!--SCRIPTS-->
<script src="/libreria/sintax/highlight.pack.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
<!---->

</head>
<body>
<div class="todo">